
.menutop {
	margin-top: 27% !important;
}
.menu-font {
	font-size:13px !important;
}
.menu-bold {
	font-weight: bold;
}
.ui-slider-horizontal .ui-slider-handle {
	border-radius: 8px !important;
	width: 29px !important; 
	height: 15px !important;
	margin-top: 3px !important;
	margin-left:-7px !important;
}
.icon-radius {
 border-radius: 4px !important;
 background: #B3ACAC !important;
 font-size: 10px !important;
}
.btnbrowser
{
width: 15% !important;
background: #aaa url(../img/radio_2_bg_on.png) repeat-x left top !important;
color: #fff !important;
text-shadow: 1px 1px 0 #aaa !important;
margin: -3px 1% 0 1% !important;
padding: 9px 1% 11px 1% !important;
border: 1px solid rgba(0,0,0,0.1) !important;
float: left !important;
line-height: 12px !important;
text-align: center !important;
font-size: 12px !important;


border-radius: 6px !important; 

transition: background-color 0.2s ease-in-out !important;
position: relative !important;

}
}
.space
{
	margin-bottom: 5px !important;
}
@media only screen and (max-width: 320px) {

   .btn-menu-font {font-size: 10px !important; }
   .hsa-btn { padding:0 5px !important; margin:5px 0 !important}
   .hsabal-btn { padding:0 2px !important; }
   .annual-slider { margin:-72px -5px !important }
   .contribution-btn { margin:-74px -5px !important }
   .menu-height { height: 150px !important }
   .menu-height-risk { height:120px !important }
   .menu-font { font-size:10px !important }
   .age-slider { margin:10px 10px !important }
   .font-green-haze { font-size:14px !important }
   .body-height { height:760px !important }
   .age-sli { font-size:9px !important ; margin:5px 0 !important}
}

.total-content {
 text-align:center;background-color:#00B14E;color:#ffffff;
}
.total-content1 {
 text-align:center;background-color:#89c4f4;color:#ffffff;
}
.heading-content {
font-size:11px;background-color:#89c4f4;color:#ffffff;width:5%;
}
.heading-content1 {
font-size:11px;background-color:#00B14E;color:#ffffff;width:6%;
}
.gray-textbox {
width:44px !important;
}
.white-textbox {
background-color:#ffffff;width:44px !important;
}


.hsa-h {
 color:#A9C14A;font-size:27px;margin-top:4px !important;
}
.planner-h {
 font-size:27px;color:#5DA8A9;margin-top:4px !important;
}
.current-table {
 font-size:11px !important;color:#89D5EC;width:6%;text-align:center !important;
}
.allocation-table {
 font-size:11px !important;color:#83D2A6;width:6%;text-align:center !important;
}
.th-width {
 width:6% !important;
}
.td-padd {
 padding:35px 0 !important;
}
.table-height {
 height:456px;overflow:auto;font-size:11px !important;
}
.savings-label {
 background-color:orange;padding-left:12px !important;border-radius:5px !important;
}
.fixed-label {
 background-color:red;padding-left:12px !important;border-radius: 5px !important;
}
.national-label {
 background-color:#DFBA49;padding-left:12px !important;border-radius: 5px !important;
}
.small-label {
 background-color:#89c4f4;padding-left:12px !important;border-radius: 5px !important;
}
.large-label {
 background-color:green;padding-left:12px !important;border-radius: 5px !important;
}
.hsa-right {
 font-weight:500;text-align:right;margin-right:2% !important;
}
.orange {
 color:orange !important;
}
.red {
 color:red !important;
}
.li-orange {
 color:#DFBA49 !important;
}
.blue {
 color:#89c4f4 !important;
}
.btn-width {
 width:100% !important;
}
.cbal {
	color:#333 !important;
	font-size:18px !important;
}
.pchart {
	margin-top:-20px !important;
}
.allocation {
	margin-left:20px !important;
	color:white !important;
}
.labeltext {
	background-color:green !important;
	padding-left:12px !important;
	border-radius: 5px !important;
}
.smallcap {
	background-color:#89c4f4 !important;
	padding-left:12px !important;
	border-radius: 5px !important;
}
.inter {
	background-color:#DFBA49 !important;
	padding-left:12px !important;
	border-radius: 5px !important;
}
.fincome {
	background-color:red !important;
	padding-left:12px !important;
	border-radius: 5px !important;
}
.sacc {
	background-color:orange !important;
	padding-left:12px !important;
	border-radius: 5px !important;
}
.tbar {
	background-color:white !important;
}
.pcontent {
	margin-top:5% !important;
}
.rebal {
	margin-left: 7% !important;
}

.back_space {
	height:350px !important;
}

 .container-top {
 margin-top:55px !important;
} 
#sliders {
 background:white !important;margin-top:-6% !important;padding:10px !important;
}
.radio-a {
 width:18% !important;font-size:11px !important;
 border-radius: 4px !important;
}
#setallocations {
 margin:0px 7% !important;background-color: #1BBC9B !important;color:#ffffff !important;
}
#calculate {
 background-color: #1BBC9B !important;color:#ffffff !important;
}
#back {
 background-color: #1BBC9B !important;color:#ffffff !important;
}
.calculate-i {
 color:#ffffff !important;
}
.fairly {
 width:18% !important;font-size:11px !important;padding:10px 0 10px 0 !important;border-radius:5px !important;
}
.table-result {
 width: 100% !important;background:white !important;float:left !important;
}
.portlet-pad {
 padding:3px 0 !important;
}
.average-growth {
 width:31% !important;font-size:11px !important;border-radius:5px !important;
}
.radio {
 margin:0 0 15px 0 !important;
}
@media only screen and (max-width: 768px) {
 .fairly-high { padding:10px 0 10px 0 !important; }
 .fairly { padding:10px 0 10px 0 !important }
 #sliders { margin:-3% 7% 0 7% !important; } 
 .container { margin:10px 0 !important }
 .average-growth { border-radius:5px !important; }
}

@media only screen and (max-width: 800px) {
 .container { margin:10px 0 !important }
 .fairly { padding:10px 0 10px 0 !important }
  #sliders { margin:-3% 7% 0 7% !important } 
 .average-growth { border-radius:5px !important; }
}

@media only screen and (max-width: 980px) {
 
 .fairly { padding:10px 0 10px 0 !important; }
 .average-growth { padding:10px 0 10px 0 !important;border-radius:5px !important; }
  #sliders { margin:-3% 0% 0 7% !important } 
 .fairly-high { padding:10px 0 !important; }
}
@media only screen and (max-width: 1280px) {
 .fairly { padding:10px 0 10px 0 !important; }
 .fairly-high { padding:10px 0 10px 0 !important }
 .average-growth { border-radius:5px !important; }
}
@media only screen and (max-width: 360px) {
 
 .portlet.light { padding :0 0 0 0 !important }
 /* .portlet.light.bordered { border:none !important;} */
 .col-lg-6,.col-md-6 { padding:0 0 0 0 !important }
 #sliders { width:100% !important; margin:0 0 0 0 !important;}
 /* h3 { font-size:10px !important } */
 button { font-size:12px !important }
 a { font-size:9px !important }
 .slider { width:67% !important }
 .fairly { padding:4px 0px 4px 0!important }
 .fairly-high { padding:4px 0px 4px 0!important }
 .average-growth { padding:4px 0 !important; width:35% !important;border-radius:5px !important; }
 .amount { font-size:10px !important }
 #chartData { font-size:11px !important; }

 .ui-slider-horizontal .ui-slider-handle {
  border-radius: 8px !important;
  width: 25px !important; 
  height: 16px !important;
  margin-top: 3px !important;
 }
}
@media only screen and (max-width: 320px) {
 #sliders { width:100% !important; margin:0 0 0 0 !important;}
 .fairly-high { padding:4px 0 !important }
 .container { padding:0 0 0 0 !important; }
 .portlet.light { padding :0 0 0 0 !important }
 /* .portlet.light.bordered { border:none !important;} */
 .col-lg-6,.col-md-6 { padding:0 0 0 0 !important }
 /* h3 { font-size:10px !important } */
 .fairly { padding:4px 0px 4px 0!important }
 .average-growth { padding:4px 0 !important; width:38% !important }
 .page-footer { height:42px !important }
 .container { margin:10px 0 !important }
}
.amount {
	border-radius:3px !important;
}
.helpBtn {
	border-radius:7px !important;
}
.head-text {
	font-size: 26px !important;
	font-weight: 100 !important;
	padding-top: 4% !important;
}